name: dispatch
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "poziom logowania"
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        type: environment    
        required: true
      matrix:
        type: string
        required: true
jobs:
  log-the-inputs:
    strategy:
      matrix: ${{ fromJSON(inputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          echo "Log level: $LEVEL"
          echo "Tags: $TAGS"
          echo "Environment: $ENVIRONMENT"
        env:
          LEVEL: ${{ inputs.logLevel }}
          TAGS: ${{ inputs.tags }}
          ENVIRONMENT: ${{ inputs.environment }}
